<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joinbe.mp.mapper.DivisionMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.joinbe.domain.Division">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="code" property="code"/>
        <result column="status" property="status"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_modified_by" property="lastModifiedBy"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <result column="parent_id" property="parentId"/>
        <result column="version" property="version"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, description, code, status, created_by, created_date, last_modified_by, last_modified_date, parent_id, version
    </sql>
</mapper>
