<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joinbe.mapper.UserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.joinbe.domain.User">
        <id column="id" property="id"/>
        <result column="login" property="login"/>
        <result column="password_hash" property="password"/>
        <result column="name" property="name"/>
<!--        <result column="last_name" property="lastName"/>-->
        <result column="sex" property="sex"/>
        <result column="status" property="status"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="lang_key" property="langKey"/>
        <result column="activation_key" property="activationKey"/>
        <result column="reset_key" property="resetKey"/>
        <result column="reset_date" property="resetDate"/>
        <result column="version" property="version"/>
        <result column="address" property="address"/>
        <result column="remark" property="remark"/>
        <result column="role_id" property="roleId"/>
        <result column="division_id" property="divisionId"/>
        <result column="last_modified_by" property="lastModifiedBy"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, login, password_hash, first_name, last_name, sex, status, email, avatar, lang_key, activation_key, reset_key, reset_date, version, address, remark, role_id, division_id, last_modified_by, last_modified_date, created_by, created_date
    </sql>

    <select id="selectByLogin" resultMap="BaseResultMap">
        select *
        from user
        where login = #{login}
    </select>
</mapper>
